*{
  /* border: 2px solid black; */
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}
.container {
  max-width: -webkit-fill-available !important;    
}
.row{
  height: 400px;
}
#infoBars{
  height:40px;
  margin-top: 10px;
} 
#timer{
  float: left;
  clear: left;
  margin-left: 25px;
} 
#secretword{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
#roundInfo{
  text-align:center;
}
body {
  font: 13px Helvetica, Arial;
  height: 100%;
  /* display:block; */
}
/* \/used for first popup box\/ */
.hidden {
  display: none;
} 
.grey-out {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #4A4A4A;
  opacity: .8;
  display: none;
  z-index: 900;
}
.user {
  position: relative;
  background-color: white;
  max-height: 300px;
  max-width: 300px;
  text-align: center;
  padding: 25px 5px;
  top: 20%;
  margin: auto;
  border-radius: 6px;
}
#username {
  width: 90%;
  font-size: 30px;
  padding: 5px;
  margin: 10px;
}
#login-button{
  width: 70px;
  height: 30px;
  background-color: #9BCD9B;
}
form {
  /* background: #000; */
  border: 3px;
  bottom: 0;
  width: 100%;    
}
/*/\used for login popup box/\ */
/*\/used for canvas & controls\/ */
#sketch {
  border: 2px solid black;
  height: 85%;
  /* border: 2px solid black; */
}
#settings { 
  display: block;
  text-align:center;
  
}
#red{
  background: red;
}
#orange{
  background: orange;
}
#yellow{
  background: yellow;
  color: black;
}
#green{
  background: green;
}
#blue{
  background: blue;
  color: white;
}
#purple{
  background: rebeccapurple;
}
#brown{
  background: sienna;
}
#black{
  background: black;
  color: white;
}
#white{
  background: white;
  color: black;
  border: 1px solid black;
}
/*/\used for canvas & controls/\ */
/*\/used for chat box\/ */
form input {
  border: 2px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5%;
  width: 65%;
  /* margin-right: 0.5%;
  margin-left:auto;     */
}
form button {
  width: 20%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}
#messageContainer{
  overflow: auto;
  width: 100%;
  height: 90%;
  border: 2px solid black;
}
#messageInput{
  border-right: 1px solid black;
}
#messages {
  list-style-type: none;
  height: 100%;
  width: 100%;
  /* border: 1px solid #000; */
  display: table-cell;
  vertical-align: bottom; 
}
#chatSend{
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 1px solid black;
}
#messages {
  width: 100%;
  margin: 0%;
  padding-top: 5px;
  padding-bottom: 5px;
}
#messages p:nth-child(odd) {
  background: #eee;
}
/*/\used for chat box/\ */